.card {
  background-color: yellow;
  margin: 10px;
  border: 1px rgb(230, 20, 20) solid;
  height: 300px;
  width: 200px;
  border-radius: 7px;
  font-size: 500%;
  padding: 5px;
  text-align: center;
  line-height: 300px;
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  font-size: medium;
  color: blue;
}
.card-inner:hover {
  font-size: large;
}
.card:hover {
  cursor: pointer;
  background-color: aquamarine;
  font-size: 800%;
  box-shadow: 10px 10px;
}
.card-front {
  background-image: url("images.jpeg");
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}
.card.flip .card-inner {
  transform: rotateY(180deg);
}
.card-back {
  transform: rotateY(180deg);
}
.image {
  height: 75%;
  width: 75%;
}
.open-image {
  visibility: visible;
  background-blend-mode: multiply;
}
.equal {
  visibility: hidden;
}
#Player1 {
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
header {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-style: italic;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#score-sheet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  align-items: center;
  gap: 3px;
  width: 400px;
  overflow: auto;
  background-color: white;
  margin-left: 300px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#score-sheet > div {
  flex: 1 1 1px;
}
#msg {
  font-size: 1500%;
  color: rgb(195, 0, 255);
  position: absolute;
  top: 150px;
  left: 500px;
  border: 5px black;
  font-family: fantasy;
}
